﻿@model Turner_Developer_Challenge.Models.Title

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>Title</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.TitleName) | @Html.DisplayFor(model => model.TitleName)
        </div>
        
        <div class="display-label">
             @Html.DisplayNameFor(model => model.TitleNameSortable) | @Html.DisplayFor(model => model.TitleNameSortable)
        </div>
        
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ReleaseYear) | @Html.DisplayFor(model => model.ReleaseYear)
        </div>
        
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ProcessedDateTimeUTC) | @Html.DisplayFor(model => model.ProcessedDateTimeUTC)
        </div>
        
    </fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
