﻿@model IEnumerable<Turner_Developer_Challenge.Models.Title>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="~/Content/dataTables/demo_table_jui.css" rel="stylesheet" />
    <link href="~/Content/dataTables/demo_table.css" rel="stylesheet" />
    <link href="~/Content/dataTables/demo_page.css" rel="stylesheet" />
</head>
<body>
    <table id="titles" class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleNameSortable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProcessedDateTimeUTC)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleNameSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessedDateTimeUTC)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.TitleId })
                </td>
            </tr>
        }
        </tbody>
    </table>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("table#titles").dataTable();
        });
    </script>
</body>
</html>
